<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body>

        <section th:fragment="tabs"
                 class="container mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link"
                       th:classappend="${idCategoria == null} ? 'active'"
                       th:href="@{/}">
                        [[#{pruebas.todas}]]
                    </a>
                </li>

                <li class="nav-item"
                    th:each="categoria : ${categorias}">
                    <a class="nav-link"
                       th:classappend="${idCategoria != null and idCategoria == categoria.idCategoria} ? 'active'"
                       th:href="@{/categoria/{idCategoria}(idCategoria=${categoria.idCategoria})}">
                        [[${categoria.descripcion}]]
                    </a>
                </li>
            </ul>
        </section>

        <section th:fragment="tarjetas"
                 class="container mt-4">
            <div class="row row-cols-1 row-cols-md-3 g-4"
                 th:if="${productos != null and !productos.empty}">

                <div class="col"
                     th:each="producto : ${productos}">
                    <div class="card h-100">
                        <img th:if="${producto.rutaImagen != null and !producto.rutaImagen.isBlank()}"
                             th:src="${producto.rutaImagen}"
                             class="card-img-top"
                             alt="Imagen de producto"
                             style="height: 200px; object-fit: contain;"/>

                        <div class="card-body">
                            <h5 class="card-title">
                                [[${producto.descripcion}]]
                            </h5>

                            <p class="card-text">
                                [[${producto.detalle}]]
                            </p>
                        </div>

                        <div class="card-footer text-center">
                            <span class="h5">
                                [[${#numbers.formatDecimal(producto.precio, 1, 'COMMA', 2, 'POINT')}]]
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center p-4"
                 th:if="${productos == null or productos.empty}">
                <span>[[#{lista.vacia}]]</span>
            </div>
        </section>

    </body>
</html>
